body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-link {
    font-family: 'Pacifico', cursive;
    font-size: xxx-large;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 { 
    position: absolute;
    top: 30%;
    left: 45%;
    margin: 20px;
    transform: translate(-50%, -50%);
    padding: 30px;
    color: white;
}

.header {
    font-family: 'Pacifico', cursive;
}

.google-login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

.profile-button {
    position: absolute;
    right: 10px;
}

form {
  padding: 30px;
}


.circular-profile { border-radius: 50%;
  width: 150px;
  height: 150px;
  align-content: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;

}

.container{
  display: block;
  /*margin-left: auto;*/
  /*margin-right: auto;*/

  width: 390px;
  height: 844px;
  background-color: #E5737D;

}

.create-button{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    color: white;
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    border: none;
    background: none;

}

.login div {
    height: auto;
    /*background-color: #E5737D;*/
}

.login a {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login #reactButton {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-buttons {
    background-color: #E5737D;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
/*.button-1:hover,*/
/*.button-1:focus {*/
/*    background-color: #F082AC;*/
}

.button-pos {
    position: relative;

}

.dog-container{
    display: block;
    align-content: center;
    align-items: center;
    width: 390px;
    height: fit-content;
    background-color: #E5737D;
}
.font-link {
    font-family: 'Pacifico', cursive;
    font-size: xxx-large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.add-more{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: white;
    width: 30%;
    margin-right: 30%;
    margin-left: 50%;
    padding: 0;
    border: none;
    background: none;
}

.navigate-buttons {
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: white;
    display: inline-block;
    width: 30%;
    margin-left: 30px;
    padding: 0;
    border: none;
    background: none;
}