body{
    background-color: #E5737D;
    height: 100%;
}
.owner-profile {
    background-color: #E5737D;
    width: 390px;
    height: fit-content;
    display: block;

}

.dog-container{
    display: block;
    align-content: center;
    align-items: center;
    width: 390px;
    height: fit-content;
    background-color: #E5737D;
}
.font-link {
    font-family: 'Pacifico', cursive;
    font-size: xxx-large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.add-more{
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: white;
    width: 30%;
    margin-right: 30%;
    margin-left: 50%;
    padding: 0;
    border: none;
    background: none;
}

.navigate-buttons {
    font-family: 'Pacifico', cursive;
    font-size: large;
    color: white;
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
}